<% provide(:title, "Top") %>
<div class="center jumbotron">
  <h1>カラオケ予約システム</h1>
  <p>カラオケの予約を行えます。</p>
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-info" %>
  <%= link_to 'Sign in with Spotify', '/auth/spotify', method: :post %>
</div>
<div class="col-md-10 col-md-offset-1">
  <% if @searchartist.present? %>
    <div>
      <div class="center">
        <% if @searchartist.images.any?%>
          <%image = @searchartist.images[1]%>
          <%= image_tag(image["url"])%>
        <% end %>
      </div>
      <h1><%= @searchartist.name %></h1>
      <table class="table table-condensed" id="table-users">
        <th>
          <td>
            <p2>人気曲</p2>
          </td>
        </th>
        <% @searchartist.top_tracks(:JP).each do |song| %>
          <tr>
            <td>
              <% if song.album.images.any? %>
                <%image = song.album.images[2]%>
                <%= image_tag(image["url"])%>
              <% end %>
            </td>
            <td>
              <p2><%= song.name %></p2>
            </td>
            <td><audio src="<%= song.preview_url%>" controls></audio></td>
          </tr>
        <%end%>
      </table>

    </div>
  <%end%>
</div>

<div class="col-md-10 col-md-offset-1">
  <% if @Top_list.present? %>
    <div>
      <h3><%= @Top_list.name %></h3>
      <table class="table table-condensed" id="table-users">
        <% @Top_list.tracks.each_with_index do |song, i| %>
          <tr>
            <td><p><%= i+1 %></p></td>
            <td>
              <% if song.album.images.any? %>
                <%image = song.album.images[2]%>
                <%= image_tag(image["url"])%>
              <% end %>
            </td>
            <td>
              <p2><%= song.name %></p2>
              <p><%= link_to song.artists[0].name, root_path(search: song.artists[0].id), :style=>"color:gray;" %></p>
            </td>
            <td><audio src="<%= song.preview_url%>" controls></audio></td>
          </tr>
        <%end%>
      </table>
    </div>
  <%end%>
</div>