<div class="container">
  <div class="row">
    <div class="col-12 text-center title">
      <h1>予約詳細画面</h1>
      <% unless @reservations.present? %> 
        <p>現在予約はありません。</p>
      <% end %>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <% @reservations.each do |reservation| %>
        <table class="table table-condensed table-hover reservation-list" id="table-users">
          <tbody>
            <tr>
              <td><%= store_name(reservation.store_id) %></td>
              <td><%= l(reservation.day, format: :default) %></td>
              <td><%= reservation.time %></td>
              <td><%= reservation.use_time %></td>
              <td><%= link_to '予約変更', edit_store_reservation_path(reservation.store_id, reservation.id, reservation), class: "btn btn-info" %></td>
              <td>
                <%= link_to "予約消去", store_reservation_url(reservation.store_id, reservation.id, reservation), method: :delete,
                  data: { confirm: "削除してよろしいですか？" },
                  class: "btn btn-danger" %>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
      <div class="col-12 text-right">
        <%= link_to '予約画面に戻る', stores_path %>
      </div>
    </div>
  </div>
  
</div>